body {
	background-color: #FDFBF6;
	padding: 0;
	margin:  0;
	font-family: 'Montserrat';
	width: 100%;
	overflow-x: hidden;
}

#footer-registration{
	background-color: #949D77;
}

h1{
	margin-top: 1em;
	margin-left: 2em;
	font-family: 'Abril Fatface';
	color: #949D77;
	font-size: 3em;
}

footer {
  background-color: var(--primary2);
  height: 80px;
  width: 100%;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*************************************************************/
/***********************About*********************************/
/*************************************************************/

#heading-about {
	font-family: 'Montserrat';
	font-size: 5em;
	font-weight: 800;
	position: absolute;
	top: 1em;
	left: 2em;
}

#div-about {
	background-color: white;
	position: absolute;
	z-index: -1;
	top: 3.5em;
	width: 55em;
	max-width: 60em;
	height: 32em;
	margin-top: 10em;
	margin-left: 10em;
	color: #F1BC53;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#div-about p{
	width: 47em;
	font-size: 0.95em;
	padding: 3em;
	text-align: justify;
	line-height: 1.5em;
	font-weight: bold;
}

#img-about {
	position: absolute;
	top: 12em;
	left: 51em;
}

#img-about-responsive {
	max-width: 50em;
	height: 35em;
	max-height: auto;
}

#div-affirmations {
	position: absolute;
	top: 50em;
	margin-left: 6em;
}

#title-affirmations {
	color: #949D77;
	font-size: 2em;
	font-style: italic;
	position: relative;
	right: 2em;
}

.attribute-title {
	font-size: 1.8em;
	color: white;
	padding-right: 5em;
}

#attribute-yellow {
	width: 16em;
	background-color: #d29e3b;
}
#attribute-green {
	width: 16em;
	background-color: #949d77;
}
#attribute-pink {
	width: 16em;
	background-color: #d5937d;
}

.attribute-p {
	font-size: 1.4em;
	width: 15em;
	text-align: justify;
	padding-left: 2em;
	padding-right: 2em;
	position: relative;
}

#attribute-p-yellow {
	position: relative;
	top: -4em;
	right: 2em;

}

#attribute-p-green {
	position: relative;
	top: -5.9em;
	right: 1.7em;
}

#attribute-p-pink {
	position: relative;
	top: -1.4em;
	right: 1.7em;
}



/*************************************************************/
/************************FAQS*********************************/
/*************************************************************/
#heading-faq {
	margin-left: 4.8em;
}

#div-faq {
	position: relative;
	top: 80em;
	right: 6em;
}

#faqs-left {
		position: relative;
		width: 50em;
		left: 8em;
}

#faqs-right {
	position: relative;
	width: 50em;
	top: -25.25em;
	left: 50em;
}

#consultation-div {
	position: absolute;
	top: 35em;
	left: 6.5em;
}

/*********Accordion**********/

.accordion-pink {
	cursor:  pointer;
	width: 70%;
	height: 3.5em;
	border: none;
	text-align: left;
	outline: none;
	font-size: 120%;
	transition: 0.4s;
	background-image: url("images/faq_buttons/faq_button_pink.png");
	margin-left: 5.5em;
	background-color: white;
	font-family: 'Montserrat';
	box-shadow: 3px 3px 10px 2px #888888;
}

.accordion-green {
	cursor:  pointer;
	width: 70%;
	height: 3.5em;
	border: none;
	text-align: left;
	outline: none;
	font-size: 120%;
	transition: 0.4s;
	background-image: url("images/faq_buttons/faq_button_green.png");
	margin-left: 5.5em;
	background-color: white;
	font-family: 'Montserrat';
	box-shadow: 3px 3px 10px 2px #888888;
}

.accordion-yellow {
	cursor:  pointer;
	width: 70%;
	height: 3.5em;
	border: none;
	text-align: left;
	outline: none;
	font-size: 120%;
	transition: 0.4s;
	background-image: url("images/faq_buttons/faq_button_yellow.png");
	margin-left: 5.5em;
	background-color: white;
	font-family: 'Montserrat';
	box-shadow: 3px 3px 10px 2px #888888;

}

.active, .accordion-pink:hover, .accordion-green:hover, .accordion-yellow:hover {
  background-color: #d5937d;
}

.question {
	height: 0em;
	margin-left: 2em;
	margin-top: 0;
	padding: 0;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  width: 65.5%;
  margin-left: 6.5em;
  text-align: justify;
  font-size: 110%;
}


#faq-blurb {
	color: #56544e;
	margin-left: 25em;
	font-size: 15px;
	font-weight: bold;
	margin-left: 8em;
}

#consultation {
	margin-left: 9em;
	height: 3em;
	border-radius: 3px;
	border: 1px solid #949d77;
	background-color: #949d77;
	color: white;
	padding: 1em;
}



/*footer {
	position: absolute;
	bottom: -95em;
	width: 100%;
}*/



/* ----- Media Queries ----- */

@media only screen and (max-width: 900px) {
  .main-about {
    flex-wrap: wrap;
  }


.}
