body {
    background-color: var(--offWhite);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
		font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
}

#footer-registration{
	background-color: #949D77;
}

h1{
	margin-top: 1em;
	margin-left: 2em;
	font-family: 'Abril Fatface';
	color: #949D77;
	font-size: 3em;
}

footer {
  background-color: var(--primary2);
  height: 80px;
  padding: 1.25em 1em .5em;
  position: relative;
  display: flex;
  justify-content: space-around;
}


/*************************************************************/
/***********************About*********************************/
/*************************************************************/

.about-top-section {
	align-items: center;
	display: flex;
 	margin: 7em 2em 2em;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	padding: 2em 1em;
	background-color: var(--offWhite);
	position: relative;
	justify-content: center;
}

.about-main-text-div,
.mobile-about-main-text-div {
	color: var(--secondary1);
}

.about-heading {
	font-family: 'Montserrat';
	font-size: 5em;
	font-weight: 800;
	position: absolute;
	top: -130px;
	left: -1em;
}

.about-main-text-div p {
	width: 50vw;
	font-size: 0.95em;
	padding: 2em 3em 1em;
	line-height: 1.5em;
	text-align: justify;
	font-weight: bold;
}

#img-about {
	width: 30em;
}

/* Affirmations Section */
.affirmation-section {
  margin: 2em 1em;
}
.affirmation-top-heading {
	color: #949D77;
	font-size: 2em;
	font-style: italic;
}

.affirmation-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.affirmation-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 10px;
}
.affirmation-headings {
  display: inline-block;
  width: 300px;
  padding: .5em 1em;
  color: var(--offWhite);
  font-weight: 300;
}

.affirmation-text {
  display: inline-block;
  text-align: center;
  width: 300px;
  font-weight: 400;
}
.text-chapter {color: var(--secondary4);
  font-weight: bold;
  margin: 0;
}
.yellow {
  background-color: var(--primary1);
}
.green {
  background-color: var(--primary2);
}
.pink {
  background-color: var(--primary3);
}

.attribute-title {
	font-size: 1.8em;
	color: white;
}

.attribute-p {
	font-size: 1.4em;
	width: 15em;
	text-align: justify;
	padding-left: 2em;
	padding-right: 2em;
	position: relative;
}

/*************************************************************/
/************************FAQS*********************************/
/*************************************************************/
.faq-main-title {
  color: var(--secondary4);
}
.faq-section,
.faq-lower-section {
  display: flex;
  padding: 2em 1em;
}
.faq-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}
.faq-container {
  display: inline-block;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, .25);
  transition: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.faq-container-red {
  border-left: 10px solid #A37060;
}
.faq-container-green {
  border-left: 10px solid #656b51;
}
.faq-container-yellow {
  border-left: 10px solid #d29e3b;
}
.faq-question {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--secondary4);
  padding: .5em .25em;
}
#faq-answer0, #faq-answer1,
#faq-answer2, #faq-answer3,
#faq-answer4, #faq-answer5,
#faq-answer6, #faq-answer7,
#faq-answer8, #faq-answer9 {
  cursor: pointer;
  display: none;
}
.faq-answer-text {
  font-weight: 400;
}
.faq-answer-container {
  display: inline-block;
}
.redFaq {
  background-color: var(--primary3);
  border-left: 10px solid #A37060;
}
.greenFaq {
  background-color: var(--primary2);
  border-left: 10px solid #656b51;
}
.yellowFaq {
  background-color: var(--secondary1);
  border-left: 10px solid #d29e3b;
}
.faq-answer-text {
  color: var(--offWhite);
  font-size: 1em;
  padding: .5em;
}

/* Footer */
.footer-div {
  text-align: left;
}

.footer-div p {
  font-weight: 300;
}

.footer-div p:hover {
  font-weight: 500;
  transform: scale(1.1, 1.1);
}

.footer-copywright-div {
  margin: 2.5em 0 0;
}
.footer-faq, .footer-contact {
  margin: 10px 0 0;
}
.copywright, .footer-FAQ, .footer-contact {
  color: var(--offWhite);
  font-size: 16px;
}

.socials-div {
  align-items: center;
  display: flex;
}

.socials-div i {
  color: var(--offWhite);
  font-size: 1.25em;
  margin: 0 1em;
}

.socials-div i:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}




/* ----- Media Queries ----- */


@media only screen and (max-width: 1150px ) {
	.about-top-section {
		flex-wrap: wrap-reverse;
	}
  .about-image {
    margin: 1em 0 0 0;
    width: 351px !important;
  }
  .about-main-text-div p {
    width: 60vw;
    padding: 1em 2em;
  }
}


@media only screen and (max-width: 900px) {
  .main-about {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 540px) {
  footer {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .footer-div {
  text-align: center;
 }
 .socials-div {
   margin: 1em 0;
 }
}
@media only screen and (min-width: 800px) {
  .faq-container:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
}
@media only screen and (max-width: 900px) {
  .faq-section,
  .faq-lower-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 470px) {
.about-heading {
  font-size: 3em !important;
  top: -75px;
}
.about-image {
  width: 210px !important;
}
}
