:root {
    --primary1: #D29E3B;
    --primary2: #949D77;
    --primary3: #D5937D;

    --secondary1: #F1BC53;
    --offWhite: #FDFBF6;
    --secondary3: #ADAAA1;
    --secondary4: #56544E;
}

html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--offWhite);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
}

button:hover {
  transform: scale(1.1, 1.1);
}

h1 {
    font-family: 'Abril Fatface', sans-serif !important;
    font-size: 3.75em;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 3em;
    font-weight: 400;
    margin: 0;
}
h3, h4, h5, h6 {
    font-family: Montserrat, monospace;
    font-weight: 600;
    margin: 0;
}
h3 {font-size: 2.25em;}
h4 {font-size: 1.875em;}
h5 {font-size: 1.625em;}
h6 {font-size: 1.375em;}

a {
  text-decoration: none;
}

p {
    font-family: 'Montserrat', monospace;
}

footer {
  background-color: var(--primary2);
  height: 80px;
  padding: 1.25em 1em .5em;
  position: relative;
  display: flex;
  justify-content: space-around;
}

section {
  background-color: var(--offWhite);
}
.homepage-landing-section {
    background-color: var(--primary3);
    display: flex;
    justify-content: space-around;
    margin: 3.5em 0 1em;
    position: relative;
    z-index: 10;
}

.landing-content {
    background-color: rgba(213, 147, 125, .417);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em 1em 5em;
    height: 70vh;
}

.landing-heading {
    color: var(--offWhite);
    text-shadow: 2px 1px var(--primary2);
    margin: 10px 0 10px;
}
.landing-subheading {
    color: var(--secondary4);
    font-size: 1.5em;
    text-transform: uppercase;
}
.landing-p-text {
    background-color: rgba(148, 157, 119, .7);
    border-radius: 10px;
    color: var(--offWhite);
    margin: 0 auto 1em;
    text-align: center;
    width: 40%;
    font-weight: 400;
    padding: 1em;
}

.landing-btns-div {
  align-items: center;
  display: flex;
  margin: 1em 0;
}

.landing-btns-div button {
  margin: 0 .5em;
  border-style: none;
}

.language-tag {
  font-weight: 600;
}

.services-btn-landing {
  background-color: var(--offWhite);
  border: none;
  color: var(--primary3);
  transform: scale(1.1, 1.1);
}

.services-btn-landing:hover {
  background-color: var(--primary3);
  color: var(--offWhite);
  border: 3px solid var(--offWhite)
}

.register-btn-landing {
  background-color: var(--primary2);
  border: none;
  color: var(--offWhite);
  transform: scale(1.1, 1.1);
}

.register-btn-landing:hover {
  background-color: var(--offWhite);
  border: 3px solid var(--primary2);
  color: var(--primary2);
  transform: scale(1.1, 1.1);
}

.register-btn-landing:active {
  background-color: rgba(101, 107, 81, .6);
}

/* Shape Divider CSS (landing page) */

.custom-shape-divider-bottom-1661731252 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1661731252 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-bottom-1661731252 .shape-fill {
    fill: var(--offWhite);
}

/* Index Webinar Section */

.webinar-index-section {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.webinar-index-section div {
  margin: 1em 0;
}

.webinar-heading {
  color: var(--primary2);
}

.webinar-main-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 1em 2em;
}

.webinar-title {
  color: var(--primary3);
  font-weight: 300;
}

.flyer-div img {
  border: 1px solid var(--secondary4);
  border-radius: 10px;
  width: 500px;
}

.webinar-text-content {
  text-align: left;
  padding: 0 0 0 2.5em;
  width: 50%;
}

#reserve-btn {
  background-color: var(--primary3);
  border-style: none;
  color: var(--offWhite);
  width: 300px;
  font-weight: 500;
}

/* Divider */
.divider-section {
  position: relative;
}

.color-divider {
  background-color: var(--primary3);
  height: 80px;
}

.custom-shape-divider-top-1661743256 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1661743256 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-top-1661743256 .shape-fill {
    fill: #FDFBF6;
}

/* About Section */

.homepage-about-section {
  padding: 0 1.5em 1em;
  position: relative;
}

.about-paragraph {
   display: inline-block;
   font-size: 1em;
   padding: .17em 1em .6em;
   width: 60vw;
}

.about-main-content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 0;
}
.about-image {
  box-shadow: 10px 5px 10px rgba(0,0,0, .17);
  border-radius: 50%;
  width: 450px;
}

.about-signature {
  color: var(--primary1);
  font-family: 'Grand Hotel', cursive;
  font-size: 31px;
  margin: 1em 0;
}

.about-cards-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 5em 2em 4.1em;
  position: relative;
}

.about-cards {
  border: 1px solid var(--primary3);
  border-radius: 10px;
  padding: .5em .5em 1em;
  width: 210px;
}

.about-cards i {
  color: var(--primary2);
  font-size: 3.1em;
  margin: .5em 0;
}

.about-cards p {
  color: var(--secondary4);
  font-size: 1em;
  font-weight: 300;
}

.about-cta-btn {
  background-color: var(--primary2);
  border-style: none;
  color: var(--offWhite);
  font-weight: 300;
  padding: 0 1.5em;
  position: absolute;
  bottom: 0;
  left: 31px;
  text-transform: capitalize;
  width: fit-content;
}

/* Index Service Section */

.homepage-services-section {
  padding: 0 1.5em 1em;
}

.services-text-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5em 1em 1em;
}

.services-text-wrapper h3 {
  font-family: 'Abril Fatface', sans-serif;
  color: var(--primary3);
  margin: 0 0 1em;
}

.services-text-wrapper p {
  font-size: 1.25em;
  font-weight: 200;
  color: var(--secondary4);
  opacity: .5;
  padding: 0 3em;
  text-align: justify;
  margin: 0 1.5em 0;
}

.lower-services-btn {
  background-color: var(--primary1);
  color: var(--offWhite);
  text-transform: uppercase;
  padding: 0 20px;
  margin: 1em;
  font-weight: 300;
  width: fit-content;
  border-style: none;
}

.lower-services-btn:hover {
  background-color: var(--offWhite);
  border: 1px solid var(--primary1);
  color: var(--primary1);
  transform: scale(1.1, 1.1);
}

.lower-services-btn:active {
  background-color: var(--secondary1);
  color: var(--offWhite);
}

.homepage-service-cards-wrapper {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  column-gap: 1.5em;
  margin: 5em 0 2.1em;
}

.service-cards {
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0,0,0, .5);
  padding: 1.5em;
  text-align: left;
  transition: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.service-cards:hover {
  transform: scale(1.1, 1.1);
}

.service-title {
  color: var(--offWhite);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
}

.service-tagline {
  font-weight: 600;
  color: var(--secondary4);
}

.read-more {
  color: var(--offWhite);
  font-size: .8em;
  text-decoration: none;
}

.read-more:hover {
  transform: scale(1.1, 1.1);
  font-weight: bold;
}

.card1 {
  background-color: var(--primary3);
}

.card2 {
  background-color: var(--primary2);
}

.card3 {
  background-color: var(--primary1);
}

/* Testimonials Section */

.testimonials-section {
  position: relative;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  padding: 0 3em;
  position: relative;
  margin: 2.15em auto 1em;
}

/* Hide the images by default */
.mySlides {
  background-color: rgba(100, 100, 100, .1);
  border: 1px solid var(--primary2);
  border-radius: 10px;
  display: none;
}

.mySlides img {
  border: 1px solid var(--secondary4);
  border-radius: 10px;
  height: auto;
  width: 400px;
}

/* Next & previous buttons */
.prev {
  left: 25%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--primary2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 25%;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--primary1);
}

/* Caption text */
.text {
  color: var(--primary1);
  font-size: 30px;
  padding: 75px 30px;
  text-align: center;
}

.testimonial-title {
  color: var(--secondary4);
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 1em 0 0;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--primary2);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: var(--primary2);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Footer */
.footer-div {
  text-align: left;
}

.footer-div p {
  font-weight: 300;
}

.footer-div p:hover {
  font-weight: 500;
  transform: scale(1.1, 1.1);
}

.footer-copywright-div {
  margin: 2.5em 0 0;
}
.copywright {
  margin: 1em 0 0;
}
.footer-faq, .footer-contact {
  margin: 10px 0 0;
}
.copywright, .footer-FAQ, .footer-contact {
  color: var(--offWhite);
  font-size: 16px;
}

.socials-div {
  align-items: center;
  display: flex;
}

.socials-div i {
  color: var(--offWhite);
  font-size: 1.25em;
  margin: 0 1em;
}

.socials-div i:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}

/* Queries */
@media only screen and (max-width: 1300px) {
  .landing-p-text {
    width: auto;
}
}


@media only screen and (max-width: 1030px) {
  .homepage-landing-section {
    margin: 1em 0 1em;
  }
}

@media only screen and (max-width: 870px) {
  .webinar-text-content {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .services-text-wrapper {
    flex-wrap: wrap;
  }
  .homepage-service-cards-wrapper {
    grid-template-columns: auto;
  }
  .service-cards {
    margin: .5em .5em 1em;
  }
}

@media only screen and (max-width: 540px) {
  .about-cards-wrapper {
    grid-template-columns: auto;
  }
  .flyer-div img {
    width: 300px;
  }
  footer {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .footer-div {
  text-align: center;
 }
 .socials-div {
   margin: 1em 0;
 }
}


@media only screen and (max-width: 450px) {
  .lower-services-btn {
    width: 300px;
  }
  .about-image {
    width: 310px;
  }
  #reserve-btn {
    width: 250px;
  }
}

@media only screen and (max-width: 350px) {
  .landing-content {
    height: 80vh;
  }
}
