:root {
    --primary1: #D29E3B;
    --primary2: #949D77;
    --primary3: #D5937D;

    --secondary1: #F1BC53;
    --offWhite: #FDFBF6;
    --secondary3: #ADAAA1;
    --secondary4: #56544E;
}
html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--offWhite);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
}
h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 3.75em;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 3em;
    font-weight: 400;
    margin: 0;
}
h3, h4, h5, h6 {
    font-family: Montserrat, monospace;
    font-weight: 600;
    margin: 0;
}
h3 {font-size: 2.25em;}
h4 {font-size: 1.875em;}
h5 {font-size: 1.625em;}
h6 {font-size: 1.375em;}

p {
    font-family: 'Montserrat', monospace;
}

footer {
  background-color: var(--primary2);
  height: 80px;
  width: 100%;
}

.homepage-landing-section {
    background-color: var(--primary3);
    display: flex;
    justify-content: space-around;
    margin: 2.5em 0 1em;
    padding: 2.5em 1em 5em;
    position: relative;
}

.landing-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-heading {
    color: var(--offWhite);
    margin: 10px 0 10px;
}
.landing-subheading {
    color: var(--secondary4);
    font-size: 1.5em;
    text-transform: uppercase;
}
.landing-p-text {
    color: var(--offWhite);
    margin: 0 auto 1em;
    text-align: center;
    width: 60%;
}

.landing-btns-div {
  align-items: center;
  display: flex;
  margin: 1em 0;
}

.landing-btns-div button {
  margin: 0 .5em;
  border-style: none;
}

.services-btn-landing {
  background-color: var(--offWhite);
  border: none;
  color: var(--primary3);
  transform: scale(1.1, 1.1);
}

.services-btn-landing:hover {
  color:
}

.register-btn-landing {
  background-color: var(--primary2);
  border: none;
  color: var(--offWhite);
  transform: scale(1.1, 1.1);
}

.register-btn-landing:hover {
  background-color: #656B51;
}

.register-btn-landing:active {
  background-color: rgba(101, 107, 81, .6);
}

/* Shape Divider CSS (landing page) */

.custom-shape-divider-bottom-1661731252 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1661731252 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-bottom-1661731252 .shape-fill {
    fill: #FDFBF6;
}

/* Index Webinar Section */

.webinar-index-section {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.webinar-index-section div {
  margin: 1em 0;
}

.page-logo {
  height: 150px;
  width: 150px;
}

.webinar-heading {
  color: var(--primary2);
}

.webinar-main-content {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.webinar-title {
  color: var(--primary3);
  font-weight: 300;
}

.flyer-div img {
  border: 1px solid var(--secondary4);
  border-radius: 10px;
  width: 400px;
}

.webinar-text-content {
  text-align: left;
  padding: 0 0 0 1em;
  width: 50%;
}

.reserve-btn {
  background-color: var(--primary3);
  border-style: none;
  color: var(--offWhite);
  width: fit-content;
}

/* Divider */
.divider-section {
  position: relative;
}

.color-divider {
  background-color: var(--primary3);
  height: 80px;
}

.custom-shape-divider-top-1661743256 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1661743256 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-top-1661743256 .shape-fill {
    fill: #FDFBF6;
}

/* About Section */

.homepage-about-section {
  padding: 0 1.5em 1em;
  position: relative;
}

.about-paragraph {
   display: inline-block;
   font-size: 1em;
   padding: .17em 1em .6em;
   width: 60vw;
}

.about-main-content-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}
.about-image {
  box-shadow: 10px 5px 10px rgba(0,0,0, .17);
  border-radius: 50%;
  width: 450px;
}

.about-signature {
  color: var(--primary1);
  font-family: 'Grand Hotel', cursive;
  font-size: 31px;
  margin: 1em 0;
}

.about-cards-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 5em 2em 4.1em;
  position: relative;
}

.about-cards {
  border: 1px solid var(--primary3);
  border-radius: 10px;
  padding: .5em .5em 1em;
  width: 210px;
}

.about-cards i {
  color: var(--primary2);
  font-size: 3.1em;
  margin: .5em 0;
}

.about-cards p {
  font-size: 1em;
  font-weight: 100;
}

.about-cta-btn {
  background-color: var(--primary2);
  border-style: none;
  color: var(--offWhite);
  font-weight: 300;
  padding: 0 1.5em;
  position: absolute;
  bottom: 0;
  left: 31px;
  text-transform: capitalize;
  width: fit-content;
}

/* Index Service Section */

.homepage-services-section {
  padding: 0 1.5em 1em;
}

.services-text-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5em 1em 1em;
}

.services-text-wrapper h3 {
  font-family: 'Abril Fatface', sans-serif;
  color: var(--primary3);
}

.service-text-wrapper p {
  font-size: 1.25em;
  color: var(--secondary4);
  opacity: .5;
  padding: 0 3em;
  text-align: justify;
  margin: 0 1.5em 0;
}

.lower-services-btn {
  background-color: var(--primary1);
  color: var(--offWhite);
  text-transform: uppercase;
  padding: 0 20px;
  margin: 1em;
  font-weight: 300;
  width: fit-content;
  border-style: none;
}

.lower-services-btn:hover {
  background-color: var(--offWhite);
  border: 1px solid var(--primary1);
  color: var(--primary1);
  transform: scale(1.1, 1.1);
}

.lower-services-btn:active {
  background-color: var(--secondary1);
  color: var(--offWhite);
}

.homepage-service-cards-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.5em;
  margin: 5em 0 2.1em;
}

.service-cards {
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0,0,0, .5);
  padding: 1.5em;
  text-align: left;
  transition: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.service-cards:hover {
  transform: scale(1.1, 1.1);
}

.service-title {
  color: var(--offWhite);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

.service-tagline {
  font-weight: 600;
  color: var(--secondary4);
}

.read-more {
  color: var(--offWhite);
  font-size: .8em;
  text-decoration: none;
}

.read-more:hover {
  color: var(--secondary4);
}

.card1 {
  background-color: var(--primary1);
}

.card2 {
  background-color: var(--primary2);
}

.card3 {
  background-color: var(--primary3);
}
