body {
	background-color: #FDFBF6;
	padding: 0;
	margin:  0;
	font-family: 'Montserrat';
}

footer{
	/*background: #949D77;*/
	position: absolute;
	bottom: 0;
	width: 100%;
}

h1{
	margin-top: 1em;
	margin-left: 4.9em;
	font-family: 'Abril Fatface';
	color: #949D77;
	font-size: 3em;
}



/*************************************************************/
/************************Registration*************************/
/*************************************************************/
main {
		margin-left: 4.8em;
		position: absolute;
		top: 8em;
}

#left-container {
	float: left;
	width: 40%;
	margin-left: 7em;
}

#right-container {
	float:  right;
	display: inline-block;
	margin-right: 20em;
	width: 30%;
}

#about-the-course-heading {
	font-family: 'Abril Fatface';
	font-size: 2em;
	color: #D29E3B;
	margin-left: 3.7em;
}

#about-the-course-p {
	margin-left: 7em;
	width: 77%;
	text-align: justify;
	font-size: 110%;
}

#registration-img {
	margin-left: 7.5em;
	box-shadow: 3px 3px 10px 2px #888888;
}

#price {
	width: 16.7em;
	height: 1.5em;
	margin-left: 4em;
	background-color: #d5937d;
	border-radius: 4px;
	color: white;
	font-size: 30px;
	position: relative;
	margin-top: -0.6em;
}

form {
	background-color: white;
	width: 90%;
	height: 30%;
	padding: 1em;
	border-radius: 3px;
	box-shadow: 3px 3px 10px 2px #888888;
}

input, select {
	border: 1.5px solid #949D77;
}


#label-lastname {
	margin-left: 5.5em;
}

#registration-submit {
	height: 3em;
	border-radius: 3px;
	border: 1px solid #949d77;
	background-color: #949d77;
	color: white;
	padding: 1em;
	font-weight: bold;
}
